In [30]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import geocoder

In [31]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
r = requests.get(url)

soup = BeautifulSoup(r.content, 'html5lib')
table = soup.find('div', attrs ={'id':'container'})

In [32]:
postalCodes = [];
boroughs= [];
neighborhoods = [];
columnNum = 1;
passVal = False

for row in soup.find_all('td'):
    for cell in row:
        if cell.string and cell.string[0].isalpha() and len(cell.string) > 2:
            passVal = False
            if columnNum == 1:
                if passVal == False and cell.string[1].isdigit():
                    postalCodes.append(cell.string.strip('\n'));   
                    columnNum = 2
                else:
                    continue
            elif columnNum == 2 :
                if cell.string == 'Not assigned':
                    passVal = True
                    del postalCodes[-1]
                    columnNum = 1
                    continue
                else:
                    boroughs.append(cell.string.strip('\n'));      
                    columnNum = 3
            elif columnNum == 3 :
                if cell.string == 'Not assigned\n':
                    neighborhoods.append(boroughs[-1])
                else:
                    neighborhoods.append(cell.string.strip('\n')); 
                columnNum = 1

In [33]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighbors = pd.DataFrame(columns=column_names)

neighbors

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [34]:
for data in range(0, len(postalCodes)-1):
    code = postalCodes[data]
    borough = boroughs[data]
    neighborhood_name = neighborhoods[data]
    
    g = geocoder.arcgis('{}, Toronto, Ontario'.format(code))
    lat_lng_coords = g.latlng

    neighbors = neighbors.append({ 'PostalCode': code,
                                   'Borough': borough,
                                   'Neighborhood': neighborhood_name,
                                   'Latitude': lat_lng_coords[0],
                                   'Longitude': lat_lng_coords[1]}, ignore_index=True)

In [35]:
neighbors

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.752420,-79.329242
1,M4A,North York,Victoria Village,43.730600,-79.313265
2,M5A,Downtown Toronto,Harbourfront,43.650295,-79.359166
3,M6A,North York,Lawrence Heights,43.723270,-79.451286
4,M6A,North York,Lawrence Manor,43.723270,-79.451286
...,...,...,...,...,...
204,M8Y,Etobicoke,Sunnylea,43.632835,-79.489550
205,M8Z,Etobicoke,Kingsway Park South West,43.624630,-79.526950
206,M8Z,Etobicoke,Mimico NW,43.624630,-79.526950
207,M8Z,Etobicoke,The Queensway West,43.624630,-79.526950
208,M8Z,Etobicoke,Royal York South West,43.624630,-79.526950

In [42]:
neighbors = neighbors.groupby(['PostalCode','Borough','Latitude','Longitude'])['Neighborhood'].apply(','.join).reset_index()
neighbors

,PostalCode,Borough,Latitude,Longitude,Neighborhood
0,M1B,Scarborough,43.811525,-79.195517,"Rouge,Malvern"
1,M1C,Scarborough,43.785665,-79.158725,"Highland Creek,Rouge Hill,Port Union"
2,M1E,Scarborough,43.765815,-79.175193,"Guildwood,Morningside,West Hill"
3,M1G,Scarborough,43.768369,-79.217590,Woburn
4,M1H,Scarborough,43.769688,-79.239440,Cedarbrae
...,...,...,...,...,...
98,M9N,York,43.704845,-79.517546,Weston
99,M9P,Etobicoke,43.696505,-79.530252,Westmount
100,M9R,Etobicoke,43.686810,-79.557284,"Kingsview Village,Martin Grove Gardens,Richvie..."
101,M9V,Etobicoke,43.743145,-79.584664,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
102,M9W,Etobicoke,43.711740,-79.579181,Northwest

In [43]:
neighbors.shape

(103, 5)